services:
  
  nginx:
    build:
      context: nginx
      dockerfile: Dockerfile
    image: luizsaluti/nginx:prod
    container_name: nginx
    networks:
      - node-network
    ports:
      - "8080:80"
    depends_on:
      - app
  db:
    image: mysql:5.7
    command: --innodb-use-native-aio=0
    container_name: db
    restart: always
    tty: true
    volumes:
      - ./mysql:/var/lib/mysql
    environment:
      - MYSQL_DATABASE=nodedb
      - MYSQL_ROOT_PASSWORD=root
    networks:
      - node-network
    expose:
      - "3306"
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-u root", "-p root"]
      interval: 5s
      timeout: 10s
      retries: 5
  app:
    build: 
      context: node
      dockerfile: Dockerfile
    image: luizsaluti/node:prod
    container_name: app
    networks:
      - node-network
    tty: true
    volumes: 
      - ./node:/usr/src/app
    depends_on:
      db:
        condition: service_healthy
    expose:
      - "3000"

networks:
  node-network:
    driver: bridge